################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Vulkan Viewer/VulkanViewer/ZERO_CHECK.vcxproj.filters
/Vulkan Viewer/VulkanViewer/ZERO_CHECK.vcxproj
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
/Vulkan Viewer/VulkanViewer/Win32/Debug/ZERO_CHECK
/Vulkan Viewer/VulkanViewer/VulkanViewer.vcxproj.user
/Vulkan Viewer/VulkanViewer/VulkanViewer.vcxproj.filters
/Vulkan Viewer/VulkanViewer/VulkanViewer.vcxproj
/Vulkan Viewer/VulkanViewer/VulkanViewer.sln
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/Wrappers.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/VulkanViewer.lastbuildstate
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/link.write.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/link.read.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/link.command.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/custombuild.write.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/custombuild.read.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/custombuild.command.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/CL.write.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/CL.read.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog/CL.command.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanViewer.log
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanSwapChain.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanShader.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanRenderer.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanPipeline.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanLED.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanInstance.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanDrawable.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanDevice.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanDescriptor.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/VulkanApplication.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/vc141.pdb
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug/main.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Debug
/Vulkan Viewer/VulkanViewer/cmake_install.cmake
/Vulkan Viewer/VulkanViewer/CMakeFiles/TargetDirectories.txt
/Vulkan Viewer/VulkanViewer/CMakeFiles/generate.stamp.list
/Vulkan Viewer/VulkanViewer/CMakeFiles/generate.stamp.depend
/Vulkan Viewer/VulkanViewer/CMakeFiles/generate.stamp
/Vulkan Viewer/VulkanViewer/CMakeFiles/feature_tests.cxx
/Vulkan Viewer/VulkanViewer/CMakeFiles/feature_tests.c
/Vulkan Viewer/VulkanViewer/CMakeFiles/feature_tests.bin
/Vulkan Viewer/VulkanViewer/CMakeFiles/CMakeOutput.log
/Vulkan Viewer/VulkanViewer/CMakeFiles/cmake.check_cache
/Vulkan Viewer/VulkanViewer/CMakeFiles/c02853242428775a72d8e166d7c64c44/generate.stamp.rule
/Vulkan Viewer/VulkanViewer/CMakeFiles/c02853242428775a72d8e166d7c64c44
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/VCTargetsPath.vcxproj
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/VCTargetsPath.txt
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/Debug/VCTargetsPath.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/Debug
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/CompilerIdCXX.vcxproj
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/CompilerIdCXX.exe
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdCXX
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CompilerIdC.tlog
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug/CMakeCCompilerId.obj
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/Debug
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/CompilerIdC.vcxproj
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/CompilerIdC.exe
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC/CMakeCCompilerId.c
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CompilerIdC
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CMakeSystem.cmake
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CMakeRCCompiler.cmake
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CMakeDetermineCompilerABI_CXX.bin
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CMakeDetermineCompilerABI_C.bin
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CMakeCXXCompiler.cmake
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0/CMakeCCompiler.cmake
/Vulkan Viewer/VulkanViewer/CMakeFiles/3.12.0
/Vulkan Viewer/VulkanViewer/CMakeFiles
/Vulkan Viewer/VulkanViewer/CMakeCache.txt
/Vulkan Viewer/VulkanViewer/binaries/VulkanViewer.pdb
/Vulkan Viewer/VulkanViewer/binaries/VulkanViewer.ilk
/Vulkan Viewer/VulkanViewer/binaries/VulkanViewer.exe
/Vulkan Viewer/VulkanViewer/binaries
/Vulkan Viewer/VulkanViewer/ALL_BUILD.vcxproj.user
/Vulkan Viewer/VulkanViewer/ALL_BUILD.vcxproj.filters
/Vulkan Viewer/VulkanViewer/ALL_BUILD.vcxproj
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15/Solution.VC.db-wal
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15/Solution.VC.db-shm
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15/Solution.VC.db
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15/Browse.VC.opendb
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15/Browse.VC.db
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15/.suo
/Vulkan Viewer/VulkanViewer/.vs/VulkanViewer/v15
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK/ZERO_CHECK.log
/Vulkan Viewer/VulkanViewer/Win32/Release/ZERO_CHECK
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/Wrappers.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/VulkanViewer.lastbuildstate
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/link.write.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/link.read.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/link.command.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/custombuild.write.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/custombuild.read.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/custombuild.command.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/CL.write.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/CL.read.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog/CL.command.1.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.tlog
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanViewer.log
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanSwapChain.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanShader.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanRenderer.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanPipeline.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanLED.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanInstance.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanDrawable.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanDevice.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanDescriptor.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/VulkanApplication.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release/main.obj
/Vulkan Viewer/VulkanViewer/VulkanViewer.dir/Release
